<header class="bg-red-500 p-4 shadow-md flex items-center justify-between">
    <h1 class="text-white text-xl font-semibold">Airbnb</h1>

    <nav class="space-x-4">
        <a href="/" class="text-white font-medium hover:text-gray-200 transition duration-200">Home</a>
        <a href="/host/add-home" class="text-white font-medium hover:text-gray-200 transition duration-200">Add Home</a>
    </nav>
</header>